.container {

    padding: 10px;
    min-width: 400px;
    min-height: 200px;
    border: 2px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.btn {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mes {
    margin-left: 5px;
}